{% extends 'base.html.twig' %}

{% block title %}Quel Accueil!{% endblock %}

{% block main %}
    <!-- Wrapper -->
			<div id="wrapper" class="container">


				<!-- Header -->
					<br>
					<header id="header">
						<h1 style="font-size: 50px"> Bienvenue chez <h1 class="font-weight-bold" >Plaid & Thé </h1></h1>
					</header>

				<!-- Main -->
					<section id="main" class="row justify-content-center">


						<!-- Thumbnails -->
							<section class="thumbnails " >

								<div style="width: 400px">
									<a href="{{ path('region_index' )}}">
										<br>
										<h1>Venez visiter les régions françaises</h1>
									</a>

								</div>
                                <div style="width: 400px">
									<a href="{{ path('room_index') }}">
										<br>
										<h1>Jetez un oeil à nos chambres disponibles</h1>
									</a>
								</div>
							</section>

						<section class="thumbnails " >
								<br>
							{% if is_granted('ROLE_USER') or is_granted('ROLE_OWNER')%}
								<div style="width: 200px">
									<a href="{{ path('client_new' )}}">
										<br>
										<h1>Devenez client</h1>
									</a>
								</div>
							{% endif %}
							{% if is_granted('ROLE_USER') or is_granted('ROLE_CLIENT')%}
								<div style="width: 200px" >
									<a href="{{ path('owner_new' )}}">
										<br>
										<h1>Devenez loueur</h1>
									</a>
								</div>
							{% endif %}

						</section>


							</section>

					</section>


				<!-- Footer -->
					<footer id="footer">
						<p>&copy; Plaid&Thé. All rights reserved. Design: <a href="http://templated.co">TEMPLATED</a>. </p>
					</footer>


			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/main.js"></script>

{% endblock %}
