{{ form_start(form) }}
    {{ form_widget(form) }}
<br>
    <h1>Une fois enregistré en tant que client, reconnectez vous à votre compte pour pouvoir accéder aux réservations. </h1>
    <a href="{{ path('accueil') }}" > <button>Save</button> </a>
<br>
{{ form_end(form) }}
