{{ form_start(form) }}
    {{ form_widget(form) }}
<br>
    <h1>Une fois enregistré en tant que loueur, reconnectez vous à votre compte pour pouvoir mettre en ligne vos chambres. </h1>
    <a href="{{ path('accueil') }}" style="color: #c0c0c0"> <button>Save</button></a>

{{ form_end(form) }}
